.connection {
    @include adaptiv-value("padding-top", 40, 25, 1);
    @include adaptiv-value("padding-bottom", 40, 25, 1);

    &__container {}

    &__body {}

    &__title {
        margin-bottom: 10px;
    }

    &__text {
        @include adaptiv-value("margin-bottom", 60, 15, 1);
    }

    &__columns {
        display: flex;
        gap: 20px;

        @media(max-width:1250px) {
            flex-direction: column;
        }
        @media(max-width:492px) {
            gap: 8px;
        }
    }

    &__column {
        flex: 0 1 50%;
        padding: 20px 30px;
        border-radius: 17px;
        position: relative;
        background: linear-gradient(90deg, #67EE6B 0%, #3E17B4 100%), linear-gradient(180deg, #67EE6B 0%, rgba(103, 238, 107, 0) 100%);
        overflow: hidden;
        &:first-child {
            background: linear-gradient(270deg, #67EE6B 0%, #3E17B4 100%), linear-gradient(180deg, #67EE6B 0%, rgba(103, 238, 107, 0) 100%);
            .connection__image {
                right: 10px;
                top: 20px;
            }
        }
        &:last-child {
            .connection__image {
                right: -150px;
                top: 20px;
            }
        }

        @media(max-width:1250px) {
            flex-direction: column;
        }
        @media(max-width:767px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__label {
        font-family: $ff4;
        @include adaptiv-value("font-size", 36, 20, 1);
        color: #fff;
        position: relative;
        z-index: 2;
        margin-bottom: 40px;
        line-height: 130%;
        @media(max-width:767px) {
            margin: 0;
            white-space: nowrap;
            br {
                display: none;
            }
        }
    }

    &__fields {
        display: flex;
        gap: 25px;
        position: relative;
        z-index: 2;
        margin-bottom: 40px;

        @media(max-width:767px) {
            display: none;
        }
    }

    &__item {
        flex: 0 1 33.33%;
    }

    &__image {
        position: absolute;
        @media(max-width:767px) {
            display: none;
        }
        img {}
    }

    &__input {
        height: 62px;
        padding-left: 30px;
        font-size: 20px;
        width: 100%;
        border-radius: 41px;
    }

    &__button {
        height: 62px;
        width: 100%;
        @media(max-width:492px) {
            padding: 20px 10px;
        }
    }

    &__confirm {
        margin-bottom: 20px;
        color: #F9F9F9;
        position: relative;
        z-index: 2;
        font-size: 14px;
        @media(max-width:767px) {
            display: none;
        }
    }
}