.terms {
    @include adaptiv-value("padding-bottom", 40, 25, 1);
    @include adaptiv-value("padding-top", 40, 25, 1);

    &__container {}

    &__body {}

    &__top {
        @include adaptiv-value("margin-bottom", 50, 20, 1);
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__title {}

    &__line {}

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        @media(max-width:992px) {
            gap: 20px;
        }
        @media(max-width:492px) {
            display: flex;
            .slick-track {
                gap: 20px;
            }
        }
    }

    &__item {
        @include adaptiv-value("padding-top", 25, 12, 1);
        @include adaptiv-value("height", 260, 120, 1);
        position: relative;
        overflow: hidden;
        background: linear-gradient(270deg, #67EE6B 0%, #3E17B4 100%), #F9F9F9;
        box-shadow: -68px 27px 29px rgba(62, 23, 180, 0.01), -38px 15px 25px rgba(62, 23, 180, 0.05), -17px 7px 18px rgba(62, 23, 180, 0.09), -4px 2px 10px rgba(62, 23, 180, 0.1), 0px 0px 0px rgba(62, 23, 180, 0.1);
        border-radius: 17px;
    }

    &__item-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__image {
        position: relative;
        // bottom: -35px;
        width: 50%;
        padding-bottom: 60%;
        bottom: -0;
        @media(max-width:767px) {
            width: 70%;
            bottom: -20px;
        }
        img {
            object-fit: contain;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__label {
        text-transform: uppercase;
        @include adaptiv-value("font-size", 36, 16, 1);
        color: #fff;
        font-weight: 700;
        font-family: $ff4;
        @media(max-width:492px) {
            display: inline-block;
        }
    }
}